<div class="modal fade" id="addBatchRepeatedDutyModal" tabindex="-1" aria-labelledby="addBatchRepeatedDutyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-6" id="addBatchRepeatedDutyModalLabel"><i class="fa-solid fa-circle-plus"></i> {{lang.addNewRepeatedDuty}}
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="createNewRepeatedDutyForm">
            <div class="row">
  
              <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect ">
                <label class="chooseLabel"><i class="fa-solid fa-tag"></i> {{lang.dutyName}}</label>
                <select class="form-select chooseSelect" aria-label="Default select example"
                 style="font: small-caption !important;" formControlName="dutyId">
                  <option value="" disabled selected>{{lang.chooseDuty}}</option>
                  <option *ngFor="let duty of duties" [value]="duty.id"> {{duty.dutyTitle}}
                  </option>
                </select>
              </div>
              <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect" style="margin-top: 24px;">
                <button class="btn btn-sm" type="button"
                  (click)="addDuty()"><i class="fa-solid fa-user-plus" ></i> {{lang.addNewDuty}}
                </button>
              </div>
              <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect " style="font-size: 11px;">
                <label class="chooseLabel"><i class="fa-solid fa-calendar-days"></i> {{lang.howManyMinutesShouldItBeRun}}</label>
                <input type="number" class="modal-input" class="form-control" formControlName="reminderTime">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect modal-right" style="font-size: 11px;">
                <label class="chooseLabel"><i class="fa-solid fa-hourglass-start"></i> {{lang.startTime}}</label>
                <input type="time" class="modal-input" class="form-control" formControlName="startTime">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect" style="font-size: 11px;">
                <label class="chooseLabel"><i class="fa-solid fa-hourglass-end"></i> {{lang.endTime}}</label>
                <input type="time" class="modal-input" class="form-control" formControlName="finishTime">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect  modal-right">
                <label class="chooseLabel">{{lang.repeatDaily}}</label><br>
                <label class="switch">
                  <input type="checkbox" (change)="onRepeatDailyChange($event)">
                  <span class="slider round"></span>
                </label>
              </div>
              <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
                <label class="chooseLabel">{{lang.status}}</label><br>
                <label class="switch">
                  <input type="checkbox" formControlName="status">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </form>
          <div class="row">
            <div style="margin-bottom: .5rem;" class="col-lg-6 col-md-6 col-xl-6" *ngFor="let duty of dutyL; let i=index">
              <div class="task-number">
                <button class="delete-btn" type="button" (click)="removeDuty(i)">
                  <div class="icon">
                    <i class="fas fa-trash-alt"></i>
                  </div>
                </button>
                <div class="name">
                  <label class="chooseLabel"><i class="fa-solid fa-user"></i> {{duty.dutyTitle}} </label>
                </div>
              </div>
            </div>
          </div>
         
          <div class="btn-location mt-4">
            <button class="button-37" *ngIf="stat==false" (click)="addRepeatedDuty()"><i class="fa-solid fa-circle-plus"></i>
              {{lang.addNewRepeatedDuty}}</button>
          </div>
          <div class="btn-location mt-4">
            <button class="button-37" *ngIf="stat==true" style="opacity: 0.5;" disabled><i class="fa-solid fa-spinner"></i>{{lang.beingCreated}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>