<div class="modal fade" id="employeeShiftAddModal" tabindex="-1" aria-labelledby="employeeShiftAddModalLabel" aria-hidden="true" *app="addEmployeeShiftItem">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-6" id="employeeShiftAddModalLabel"><i class="fa-solid fa-user-plus"></i>
            {{lang.addNewEmployeeShift}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="employeeShiftAddForm" *ngIf="employeeShiftAddForm">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-xl-12 custom-select-wrapper modalSelect" >
                <label class="chooseLabel"><i class="fa-solid fa-user"></i> {{lang.employeeName}}</label>
                <input type="text" class="modal-input addClass"  class="form-control"[value]="empName" readonly
                  style="margin-bottom: 0px !important; border: none; border-bottom: 1px solid black;">
              </div>
              <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect " >
                <label class="chooseLabel"><i class="fa-solid fa-calendar-days"></i> {{lang.shiftName}}</label>
                <select class="form-select chooseSelect" aria-label="Default select example"
                  formControlName="shiftId" style="font: small-caption !important;  margin-top: .5rem;">
                  <option value="" disabled selected>{{lang.chooseShift}}</option>
                  <option *ngFor="let shift of shifts" [value]="shift.id"> {{shift.name}}
                  </option>
                </select>
              </div>
              <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect" >
                <label class="chooseLabel"><i class="fa-regular fa-calendar"></i>
                  {{lang.shiftDate}}</label>
                <input type="date" class="modal-input addClass"  class="form-control" formControlName="shiftDate"
                  style="margin-bottom: 0px !important; border: none; border-bottom: 1px solid black;">
              </div>
            </div>
          </form>
          <div class="btn-location mt-5">
            <button class="button-37" (click)="shiftAdd()"><i
                class="fa-solid fa-user-plus"></i> {{lang.addNewEmployeeShift}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>