<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true" *app="updateEmployeeItem">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="updateModalLabel"><i class="fa-regular fa-pen-to-square"></i> {{lang.updateEmployee}}</h1>
            </div>
            <div class="modal-body">
                <form [formGroup]="employeeUpdateForm" *ngIf="employeeUpdateForm">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect custom-select-wrapper modalSelect">
                            <label class="chooseLabel"><i class="fa-solid fa-envelope"></i>
                                {{lang.email}}</label>
                            <input type="text" class="modal-input addClass" class="form-control" formControlName="email"
                                style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect custom-select-wrapper modalSelect modal-right">
                            <label class="chooseLabel"><i class="fa-solid fa-user-tag"></i>
                                {{lang.name}}</label>
                            <input type="text" class="modal-input addClass" class="form-control"
                                formControlName="name" style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect custom-select-wrapper modalSelect">
                            <label class="chooseLabel"><i class="fa-solid fa-user-tag"></i>
                                {{lang.surname}}</label>
                            <input type="text" class="modal-input addClass" class="form-control"
                                formControlName="surname" style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect custom-select-wrapper modalSelect modal-right">
                            <label class="chooseLabel"><i class="fa-solid fa-tag"></i>
                                {{lang.title}}</label>
                            <input type="text" class="modal-input addClass" class="form-control" formControlName="title"
                                style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect custom-select-wrapper modalSelect">
                            <label class="chooseLabel"><i class="fa-solid fa-phone"></i>
                                {{lang.phonenumber}}</label>
                            <input type="number" class="modal-input addClass" class="form-control"
                                formControlName="phoneNumber" style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect custom-select-wrapper modalSelect modal-right">
                            <label class="chooseLabel"><i class="fa-solid fa-cake-candles"></i>
                                {{lang.age}}</label>
                            <input type="number" class="modal-input addClass" class="form-control" formControlName="age"
                                style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect ">
                            <label class="chooseLabel"><i class="fa-solid fa-cake-candles"></i>{{lang.birthDay}}</label>
                            <input type="date" class="modal-input addClass" class="form-control" formControlName="birthDay"style="margin-bottom: 0px !important;">
                          </div>
                          <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect modal-right">
                            <label class="chooseLabel"><i class="fa-solid fa-arrow-down"></i> {{lang.lowerSize}}</label>
                            <input type="text" class="modal-input addClass" class="form-control" formControlName="lowerSize"style="margin-bottom: 0px !important;">
                          </div>
                          <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect ">
                            <label class="chooseLabel"><i class="fa-solid fa-arrow-up"></i> {{lang.upperSize}}</label>
                            <input type="text" class="modal-input addClass" class="form-control" formControlName="upperSize"style="margin-bottom: 0px !important;">
                          </div>
                          <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect modal-right">
                            <label class="chooseLabel"><i class="fa-solid fa-shoe-prints"></i> {{lang.shoeSize}}</label>
                            <input type="number" class="modal-input addClass" class="form-control" formControlName="shoeSize"style="margin-bottom: 0px !important;">
                          </div>
                          <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect ">
                            <label class="chooseLabel"><i class="fa-solid fa-tag"></i> {{lang.emergencyContactName}}</label>
                            <input type="text" class="modal-input addClass" class="form-control" formControlName="emergencyContactName"style="margin-bottom: 0px !important;">
                          </div>
                          <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect modal-right">
                            <label class="chooseLabel"><i class="fa-solid fa-square-phone-flip"></i> {{lang.emergencyContactNumber}}</label>
                            <input type="number" class="modal-input addClass" class="form-control" formControlName="emergencyContactNumber" placeholder="örn: 123 456 78 90" style="margin-bottom: 0px !important;">
                          </div>
                          <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect ">
                            <label class="chooseLabel"><i class="fa-solid fa-user-tag"></i> {{lang.emergencyContactRelationship}}</label>
                            <input type="text" class="modal-input addClass" class="form-control" formControlName="emergencyContactRelationship"style="margin-bottom: 0px !important;">
                          </div>
                          <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect modal-right" >
                            <label class="chooseLabel mb-2"><i class="fa-solid fa-droplet"></i> {{lang.bloodGroup}}</label>
                            <select class="form-select chooseSelect" aria-label="Default select example"
                              formControlName="bloodGroup" style="font: small-caption !important; ">
                              <option value="" disabled selected>{{lang.bloodGroup}}</option>
                              <option *ngFor="let blood of bloodGroups" [value]="blood"> {{blood}}
                              </option>
                            </select>
                          </div>
                          <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect " >
                            <label class="chooseLabel"><i class="fa-solid fa-graduation-cap"></i> {{lang.educationalStatus}}</label>
                            <select class="form-select chooseSelect" aria-label="Default select example"
                              formControlName="educationalStatus" style="font: small-caption !important; ">
                              <option value="{{stat}}" disabled selected>{{stat}}</option>
                              <option *ngFor="let status of educationalStatuss" [value]="status"> {{status}}
                              </option>
                            </select>
                          </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect modal-right">
                            <label class="chooseLabel"> <i class="fa-solid fa-building-user"></i> {{lang.departmentName}}</label>
                            <select class="form-select chooseSelect" aria-label="Default select example"
                              formControlName="departmentId" style="font: small-caption !important;">
                              <option value="" disabled selected>{{lang.chooseDepartment}}</option>
                              <option *ngFor="let department of departments" [value]="department.id"> {{department.departmentName}}
                              </option>
                            </select>
                          </div>
                          <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect " >
                            <label class="chooseLabel"><i class="fa-solid fa-code-branch"></i> {{lang.branchName}}</label>
                            <select class="form-select chooseSelect" aria-label="Default select example"
                              formControlName="branchId" style="font: small-caption !important; ">
                              <option value="" disabled selected>{{lang.chooseBranch}}</option>
                              <option *ngFor="let branch of branchs" [value]="branch.id"> {{branch.branchName}}
                              </option>
                            </select>
                          </div>
                        <div class="col-lg-6 col-md-6 col-xl-6">
                            <label class="chooseLabel ">{{lang.status}}</label><br>
                            <label class="switch">
                                <input type="checkbox" formControlName="status">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </form>
                <div class="btn-location mt-4">
                    <button type="button" class="button-4" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i> {{lang.cancel}}</button>
                    <a (click)="updateEmployee()" class="button-20" data-bs-dismiss="modal"><i class="fa-regular fa-pen-to-square"></i> {{lang.updateEmployee}} </a>
                </div>
            </div>
        </div>
    </div>
</div>