<app-add-branch (branchEvent)="getAllBranch()" (branchCountEvent)="getAllWithCounts()"></app-add-branch>
<app-update-branch [branchDetail]="branch" (branchEvent)="getAllBranch()"></app-update-branch>

<div class="container-fluid">
  <div class="row" *ngIf="branchs?.length>0">
    <div class="col-xl-4 card-screen-medium"
      *ngFor="let branch of branchs |branchFilter:filterText:'branchName'| paginate: { itemsPerPage: getPaginationSize(), currentPage: page,totalItems: branchs?.length, id: 'first'}">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-4 left-section">
            <h6 class="card-title text-white">{{lang.details}}</h6>
            <div class="card-body text-start">
              <ng-container *ngFor="let branchCount of branchCounts">
                <ul class="ul-group" *ngIf="branchCount.id == branch.id" style="padding-left: 0px;">
                  <div>
                    <li>
                      <p>{{lang.blockCount}} : <span>{{ branchCount.blockCount }}</span></p>
                    </li>
                    <li>
                      <p>{{lang.floorCount}} : <span> {{ branchCount.floorCount }}</span></p>
                    </li>
                    <li>
                      <p>{{lang.hallwayCount}} : <span>{{ branchCount.hallwayCount }}</span></p>

                    </li>
                    <li>
                      <p>{{lang.roomCount}} : <span>{{ branchCount.roomCount }}</span></p>
                    </li>
                  </div>
                </ul>
              </ng-container>
            </div>
          </div>
          <div class="col-8 right-section">
            <div class="top-section">
              <h6 class="card-title">
                <i class="fa-solid fa-code-branch"></i> {{ branch.branchName }}
              </h6>
              <div class="card-title-setting-btn">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-gear"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updateModal"
                        (click)="getByBranch(branch.id)"><i class="fa-regular fa-pen-to-square"></i> {{lang.update}}</a>
                    </li>
                    <li><a class="dropdown-item" (click)="onDeleteBranch(branch.id)"> <i
                          class="fa-regular fa-trash-can"></i> {{lang.delete}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="echarts-size">
              <app-branch-charts [branchControls]="dutiesCountByBranch" [branchInfo]="dutiesCountByBranch"
                [branchId]="branch.id"> </app-branch-charts>
            </div>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls nextLabel="İleri" previousLabel="Geri" id="pagination" class="pagination"
      (pageChange)="page=$event" id="first"> </pagination-controls>
  </div>
  <div class="row" *ngIf="branchs?.length==0">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">{{lang.noDataFound}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>