<div class="modal fade" id="dutyImage" tabindex="-1" aria-labelledby="dutyImageLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="dutyImageLabel"><i class="fa-solid fa-image"></i>{{lang.dutyImage}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="modal-body" >
                        <div class="d-flex justify-content-center" style="box-shadow: none !important;" *ngIf="dutyDetails">
                            <span style="font-weight: bold;">{{lang.cleaningBeforeImage}}</span>
                        </div>
                        <div class="d-flex justify-content-center" style="box-shadow: none !important;" >
                            <img class="sidebar-icon" [src]="getImageBeforePath(before)" width="400px" height="400px">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="modal-body" >
                        <div class="d-flex justify-content-center" style="box-shadow: none !important;" *ngIf="dutyDetails">
                            <span style="font-weight: bold;">{{lang.cleaningAfterImage}}</span>
                        </div>
                        <div class="d-flex justify-content-center" style="box-shadow: none !important;" >
                            <img class="sidebar-icon" [src]="getImageAfterPath(after)" width="400px" height="400px">
                        </div>
                    </div>
                </div>
            </div>
           
            
        </div>
    </div>
</div>