.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
   
}

.dashboard-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 2%;
}

.card {

    width: calc(50% - 2%);
    margin-bottom: 2%;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card-employee {
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 96%;
    margin-left: 2%;
    margin-top: 2%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px
}

.card-body {
    padding: 1rem;
}

.card:hover {
    transform: translateY(-5px);
}

#weeklychart {
    background-color: white;
    border-radius: 2%;
    width: 100%;
    height: auto;
}


.year-chart {
    background-color: white;
    width: 98%;
    border-radius: 2%;
}

.dailyCharts {
    background-color: white;
    width: 100%;
}

.echart-year {
    height: 400px;
    width: 800%;
}

.chart-org {
    margin-top: 1%;
    /* margin-left: 1%; */
    display: flex;
}

.card-title {
    color: #6c757d;
}

.card-value {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-subtitle {
    color: #6c757d;
}



.spinner-border {
    display: block;
    margin: 1rem auto;
}

@media only screen and (max-width: 1565px) {
    .dashboard-container {
        width: 100%;
    }
    .card-with {
        width: 49% !important;
    }

    .dashboard-charts {
        margin-top: 1%;
    }

    #weeklychart {
        height: 100% !important;
    }
    .card-employee{
        margin-top: 0px !important;
        margin-left:0px !important;
        width: 98% ;
    }
}

@media only screen and (max-width: 980px) {
    .dashboard-charts {
        width: 100% !important;
    }
    .chart-org {
        width: 100% !important;
    }
    .card-employee{
        width: 100% !important;
    }
    .year-chart{
        width: 100% !important;
    }
    .card-left-margin{
        margin-left: 1% !important;
    }
}

@media only screen and (max-width: 835px) {
    .card-with-small {
        width: 100% !important;
    }
    .card-margin {
        margin-top: 2% !important;
    }
    .card-left-margin{
        margin-left: 0px !important;
    }
}
@media only screen and (max-width: 1199px) {
    .col-lg-6 {
        margin-bottom: 0px !important;
    }
}

.card-margin {
    margin-bottom: 0px !important;
}
.card-sm{
    cursor: pointer;
}