<div class="modal fade" id="updateWorkAccidentModal" tabindex="-1" aria-labelledby="updateModalLabel" *app="updateRole"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="box-shadow: none !important;">
        <h6 id="updateModalLabel"><i class="fa-regular fa-pen-to-square"></i> {{lang.updateWorkAccident}}</h6>
      </div>
      <div class="modal-body" *ngIf="workAccidentUpdateForm">
        <form [formGroup]="workAccidentUpdateForm">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
              <label class="chooseLabel"><i class="fa-solid fa-comment"></i> {{lang.description}}</label>
              <input class="form-select forms chooseSelect detail" formControlName="description">
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
              style="padding-right: 0px !important;">
              <label class="chooseLabel"><i class="fa-solid fa-person"></i> {{lang.fatherName}}</label>
              <input class="form-select forms chooseSelect detail" formControlName="fatherName">
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
              <label class="chooseLabel"><i
                  class="fa-solid fa-arrow-down-9-1"></i>{{lang.insuranceRegistrationNumber}}</label>
              <input class="form-select forms chooseSelect detail" type="number" formControlName="insuranceRegistrationNumber">
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
              style="padding-right: 0px !important;">
              <label class="chooseLabel"><i class="fa-solid fa-id-card"></i> {{lang.identificationNumber}}</label>
              <input class="form-select forms chooseSelect detail" type="number" formControlName="identificationNumber">
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
              <label class="chooseLabel"><i class="fa-solid fa-cake-candles"></i> {{lang.birthDay}}</label>
              <input class="form-select chooseSelect detail" type="date" formControlName="birthDay">
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
              style="padding-right: 0px !important;">
              <label class="chooseLabel"><i class="fa-solid fa-map-location-dot"></i> {{lang.placeOfBirth}}</label>
              <input class="form-select forms chooseSelect detail" formControlName="placeOfBirth">
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
              <label class="chooseLabel"><i class="fa-solid fa-tags"></i> {{lang.mission}}</label>
              <input class="form-select forms chooseSelect detail" formControlName="mission">
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
              style="padding-right: 0px !important;">
              <label class="chooseLabel"><i class="fa-solid fa-calendar-days"></i> {{lang.dateOfStart}}</label>
              <input class="form-select chooseSelect detail" type="date" formControlName="dateOfStart">
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
              <label class="chooseLabel"><i class="fa-solid fa-person-falling-burst"></i> {{lang.accidentDate}}</label>
              <input class="form-select chooseSelect detail" type="datetime-local" formControlName="accidentDate">
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
              style="padding-right: 0px !important;">
              <label class="chooseLabel"><i class="fa-solid fa-users"></i> {{lang.numberOfEmployees}}</label>
              <input class="form-select forms chooseSelect detail" type="number" formControlName="numberOfEmployees">
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
              <label class="chooseLabel"><i class="fa-solid fa-calendar-day"></i> {{lang.startDateToday}}</label>
              <input class="form-select chooseSelect detail" type="datetime-local" formControlName="workingStartDate">
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
              style="padding-right: 0px !important;">
              <label class="chooseLabel"><i class="fa-solid fa-phone"></i> {{lang.phonenumber}}</label>
              <input class="form-select forms chooseSelect detail" type="number" formControlName="phoneNumber">
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
              <label class="chooseLabel"><i class="fa-solid fa-location-dot"></i> {{lang.address}}</label>
              <input class="form-select forms chooseSelect detail" formControlName="address">
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
              style="padding-right: 0px !important;">
              <label class="chooseLabel mb-2"><i
                  class="fa-solid fa-users icon-spacing"></i>{{lang.employeeName}}</label>
              <select class="form-select chooseSelect" aria-label="Default select example" formControlName="employeeId"
                style="font: small-caption !important;">
                <option value="" disabled selected>{{lang.chooseEmployee}}</option>
                <option *ngFor="let employee of employeeies" [value]="employee.id"> {{employee.name}}
                  {{employee.surname}} </option>
              </select>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
              <label class="chooseLabel">{{lang.lossOfLimb}}</label><br>
              <label class="switch">
                <input type="checkbox" formControlName="lossOfLimb">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </form>
        <div class="btn-location mt-4">
          <button type="button" class="button-4" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i> {{lang.cancel}}</button>
          <a (click)="updateWorkAccident()" class="button-20"><i class="fa-regular fa-pen-to-square"></i> {{lang.update}} </a>
        </div>
      </div>
    </div>
  </div>
</div>