<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true" style="margin-left: 0px !important;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="changePasswordModalLabel"><i class="fa-solid fa-pen-to-square"></i> {{lang.changePassword}}</h1>
            </div>
            <div class="modal-body">
                <form [formGroup]="changePasswordForm" *ngIf="changePasswordForm">
                    <ul class="ul-modal">
                        <li>
                            <label class="chooseLabel">{{lang.email}}</label>
                            <input class="modal-input" type="text" readonly placeholder="{{lang.email}}" formControlName="email">
                        </li>
                        <li>
                            <label class="chooseLabel">{{lang.oldPassword}}</label>
                            <input class="modal-input" type="password" placeholder="{{lang.oldPassword}}" formControlName="oldPassword">
                        </li>
                        <li>
                            <label class="chooseLabel">{{lang.newPassword}}</label>
                            <input class="modal-input" type="password" placeholder="{{lang.newPassword}}" formControlName="newPassword">
                        </li>
                    </ul>
                </form>
                <div class="btn-location mt-4">
                    <button type="button" class="button-4" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i> {{lang.cancel}}</button>
                    <a (click)="changePassword()" class="button-20" data-bs-dismiss="modal"><i class="fa-solid fa-pen-to-square"></i> {{lang.changePassword}} </a>
                </div>
            </div>
        </div>
    </div>
</div>