<button data-bs-toggle="modal" data-bs-target="#employeeAddModal" *app="addEmployeeItem"  class="btn button-4" style="margin-right: 1rem;"><i class="fa-solid fa-user-plus" ></i> {{lang.addnewemployee}} </button>
<button data-bs-toggle="modal" data-bs-target="#uploadExcelModal" *app="addEmployeesFromExcelEmployeeAuthorizationItem" class="btn button-4" style="margin-right: 1rem;"><i class="fa-solid fa-user-plus"></i> {{lang.addCollectiveEmployee}} </button>
<button data-bs-toggle="modal" data-bs-target="#departmentModal"  *app="getAllDepartmentItem" class="btn button-4"><i class="fa-solid fa-building-user"></i> {{lang.departments}} </button>

