<div class="modal fade" id="userAddModal" tabindex="-1" aria-labelledby="userAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="userAddModalLabel"> <i class="fa-solid fa-user-plus"></i> {{lang.addNewUser}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="userAddForm"> 
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xl-6 mb-2">
                          <label class="chooseLabel"><i class="fa-solid fa-envelope"></i>
                            {{lang.email}}</label>
                          <input type="text" class="modal-input addClass" class="form-control" formControlName="email"
                            style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 mb-2">
                          <label class="chooseLabel"><i class="fa-solid fa-key"></i>
                            {{lang.password}}</label>
                          <input type="password" class="modal-input addClass" class="form-control" formControlName="password"
                            style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 mb-2">
                          <label class="chooseLabel"><i class="fa-solid fa-user-tag"></i>
                            {{lang.name}}</label>
                          <input type="text" class="modal-input addClass" class="form-control" formControlName="name"
                            style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 mb-2">
                          <label class="chooseLabel"><i class="fa-solid fa-user-tag"></i>
                            {{lang.surname}}</label>
                          <input type="text" class="modal-input addClass" class="form-control" formControlName="surname"
                            style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 mb-2">
                          <label class="chooseLabel"><i class="fa-solid fa-tag"></i>
                            {{lang.title}}</label>
                          <input type="text" class="modal-input addClass" class="form-control" formControlName="title"
                            style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
                          <label class="chooseLabel"><i class="fa-solid fa-phone"></i>
                            {{lang.phonenumber}}</label>
                          <input type="tel" class="modal-input addClass" class="form-control" formControlName="phoneNumber" placeholder="örn: 123 456 78 90"
                            style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6">
                          <label class="chooseLabel mb-3">{{lang.status}}</label><br>
                          <label class="switch">
                            <input type="checkbox" formControlName="status">
                            <span class="slider round"></span>
                          </label>
                        </div>
                    </div>                    
                </form>
                <div class="btn-location mt-5">
                    <button class="button-37" (click)="addUser()"  data-bs-dismiss="modal"><i class="fa-solid fa-user-plus"></i> {{lang.addNewUser}}</button>
                </div>
            </div>
        </div>
    </div>
</div>