
<div class="modal fade" id="taskDetailModal" tabindex="-1" aria-labelledby="taskDetailModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-6" id="taskDetailModalLabel"><i class="fa-solid fa-circle-info"></i> {{lang.additionalTask}} {{lang.details}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="tasked">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xl-6" *ngFor="let task of tasked;let i =index">
                    <div >
                        <label class="chooseLabel"><i class="fa-solid fa-list-ol"></i> {{i+1}}. {{lang.duty}}</label> 
                        <div>
                            <label class="chooseLabel"style="font-weight: bold;">{{lang.taskName}}</label>
                            <input class="modal-input form-control" type="text" readonly value="{{task.taskName}}">
                        </div>
                        <div>
                            <label class="chooseLabel"style="font-weight: bold;">{{lang.description}}</label>
                            <input class="modal-input form-control" type="text" readonly value="{{task.taskDescription}}">
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
