<div class="container-fluid" style="padding-left: 20px;padding-right: 20px;">
    <app-navbar-mail-sender-config></app-navbar-mail-sender-config>
    <ag-grid-angular id="datatable" style="width: 100%" class="ag-theme-alpine" [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef" [rowSelection]="'multiple'" [enableCellTextSelection]="true"
        [cacheBlockSize]="cacheBlockSize" [cacheOverflowSize]="cacheOverflowSize"
        [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
        [infiniteInitialRowCount]="infiniteInitialRowCount" [enableBrowserTooltips]="true"
        [overlayNoRowsTemplate]="noRowsTemplate" [maxBlocksInCache]="maxBlocksInCache" [rowData]="rowData"
        [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
        [suppressScrollOnNewData]="true"></ag-grid-angular>
</div>
<app-add-mail-sender-config (mailSenderEmitter)="getAllMailSenderConfig()"></app-add-mail-sender-config>
<app-update-mail-sender-config (mailSenderEmitter)="getAllMailSenderConfig()" [mailSender]="mailSenderConfig"></app-update-mail-sender-config>