<app-add-hallway (hallwayEvent)="getAllHallway()" (hallwayCountEvent)="getAllHallwayCount()"></app-add-hallway>

<app-update-hallway [hallwayDetail]="hallway" (hallwayEvent)="getAllHallway()" (hallwayGraficEvent)="getAllHallwayCount()"></app-update-hallway>
<div class="container" style="max-width: 100% !important ">
  <div class="row" *ngIf="hallways?.length>0">
    <div class="col-xl-4 card-screen-medium"
      *ngFor="let hallway of hallways|branchFilter:filterText:'hallwayName'| paginate: { itemsPerPage: getPaginationSize(), currentPage: page,totalItems: hallways?.length, id: 'first'}">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-4 left-section">
            <h6 class="card-title text-white">{{lang.details}}</h6>
            <div class="card-body text-start">
              <ng-container *ngFor="let hallwayCount of hallwayCounts">
                <ul class="ul-group" *ngIf="hallwayCount.id==hallway.id" style="padding-left: 0px;">
                  <div> 
                   <li>
                     <p>{{lang.roomCount}} : <span>{{ hallwayCount.roomCount }}</span></p> 
                   </li>
                  </div>
                </ul>
              </ng-container>
              <ng-container *ngFor="let dutyCount of dutyCounts">
                <ul class="ul-group" *ngIf="dutyCount.hallwayId==hallway.id" style="padding-left: 0px;">
                  <div> 
                   <li>
                     <p>{{lang.dutyCount}} : <span>{{ dutyCount.count }}</span></p> 
                   </li>
                  </div>
                </ul>
              </ng-container>
            </div>
          </div>
          <div class="col-8 right-section">
            <div class="top-section">
              <h6 class="card-title"><i class="fa-solid fa-door-open icon-spacing"></i> {{ hallway.hallwayName }}</h6>
              <div class="card-title-setting-btn">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-gear"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updateModal"
                        (click)="getByHallway(hallway.id)"><i class="fa-regular fa-pen-to-square"></i>
                        {{lang.update}}</a></li>
                    <li><a class="dropdown-item" (click)="onHallwayDeleteId(hallway.id)"> <i
                          class="fa-regular fa-trash-can"></i> {{lang.delete}}</a></li>
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#detailModal"
                        (click)="getDetailsByHallwayId(hallway.id)"> <i class="fa-solid fa-info"></i>
                        {{lang.details}}</a></li>
                        <!-- <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#qrCodeHallwayModal"
                          (click)="getDetailsByHallwayId(hallway.id)"><i class="fa-solid fa-qrcode"></i> {{lang.qrCodeDetails}}</a>
                        </li> -->
                  </ul>
                </div>
              </div>
            </div>
            <div class="echarts-size">

              <app-hallway-charts [hallwayControls]="dutiesCountByBlock" [hallwayInfo]="dutiesCountByBlock"
                [hallwayId]="hallway.id"> </app-hallway-charts>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="hallways?.length==0">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">{{lang.noDataFound}}</h6>
        </div>
      </div>
    </div>
  </div>

  <pagination-controls nextLabel="İleri" previousLabel="Geri" id="pagination" class="pagination"
    (pageChange)="page=$event" id="first"> </pagination-controls>
</div>
<app-detail-hallway [hallwayDetail]="hallway"></app-detail-hallway>
<!-- <app-qr-code-hallway [qrCode]="hallway"></app-qr-code-hallway> -->
