<div class="modal fade" id="uploadExcelModal" tabindex="-1" aria-labelledby="uploadExcelModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="uploadExcelModalLabel"> {{lang.collectiveEmployee}} </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="download-button" style="justify-content: flex-start !important;">
            <button class="button-4" (click)="downloadDefaultEmployeeFile()" > {{lang.downloadExcelFile}}</button>
          </div>
          <form (submit)="onSubmit()" style="margin-top: 5%;">
            <div class="mb-3">
              <label for="fileInput" class="form-label">{{lang.pleaseExcelFile}}</label>
              <input type="file" class="form-control" id="fileInput" (change)="onFileSelecteds($event)" accept=".xlsx, .xls">
            </div>
            <div class="download-button">
              <button type="submit" class="btn-mdl-sm" data-bs-dismiss="modal"> {{lang.employeeAdd}} </button>
            </div>
          </form>
        </div>
       
      </div>
    </div>
  </div>