<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6" id="exampleModalLabel"> <i class="fa-solid fa-code-branch"></i>
          {{lang.addNewBranch}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="branchAddForm" style="margin-bottom: 3rem;">
          <div class="mb-3">
            <label class="chooseLabel"><i class="fa-solid fa-code-branch"></i> {{lang.branchName}}</label>
            <input type="text" class="modal-input" class="form-control" formControlName="branchName" style="margin-bottom: 0px !important;">
          </div>
          <div class="mb-3 custom-select-wrapper modalSelect">
            <label class="chooseLabel"><i class="fa-solid fa-building"></i> {{lang.companyName}}</label>
            <select class="form-select chooseSelect" aria-label="Default select example" formControlName="companyId"
           style="font: small-caption !important;">
              <option value="" disabled selected>{{lang.chooseCompany}}</option>
              <option *ngFor="let company of companies" [value]="company.id"> {{company.companyName}} </option>
            </select>
          </div>
        </form>
        <div class="btn-location">
          <button class="button-37" (click)="addBranch()" data-bs-dismiss="modal"> <i class="fa-solid fa-code-branch"></i> {{lang.addNewBranch}}</button>
        </div>
      </div>
    </div>
  </div>
</div>