<div class="modal fade" id="updateDissolutionModal" tabindex="-1" aria-labelledby="updateDissolutionModalLabel" *app="updateDissolutionRole"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="updateDissolutionModalLabel"><i class="fa-regular fa-pen-to-square"></i>
                    {{lang.updateDissolution}}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="dissolutionForm" *ngIf="dissolutionForm">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
                            style="font-size: 11px;">
                            <label class="chooseLabel"><i class="fa-solid fa-tags"></i> {{lang.productName}}</label>
                            <input type="text" class="modal-input" class="form-control" formControlName="productName">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
                            style="font-size: 11px;">
                            <label class="chooseLabel"><i class="fa-solid fa-tags"></i> {{lang.description}}</label>
                            <input type="text" class="modal-input" class="form-control" formControlName="description">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
                            style="font-size: 11px;">
                            <label class="chooseLabel"><i class="fa-solid fa-barcode"></i> {{lang.batchNumber}}</label>
                            <input type="text" class="modal-input" class="form-control" style="margin-top: 3px;" formControlName="batchNumber">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
                            style="font-size: 11px;">
                            <label class="chooseLabel"><i class="fa-solid fa-calendar-days"></i> {{lang.startDate}}</label>
                            <input type="datetime-local" style="border: 0px; border-bottom: 1px solid;" class="modal-input" class="form-control" formControlName="startDate">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
                            style="font-size: 11px;">
                            <label class="chooseLabel"><i class="fa-solid fa-calendar-days"></i> {{lang.endDate}}</label>
                            <input type="datetime-local" style="border: 0px; border-bottom: 1px solid;" class="modal-input" class="form-control" formControlName="endDate">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
                            style="font-size: 11px;">
                            <label class="chooseLabel"><i class="fa-solid fa-temperature-high"></i> {{lang.startDeggre}}</label>
                            <input type="number" style="border: 0px; border-bottom: 1px solid; margin-top: 3px;" class="modal-input" class="form-control" formControlName="startDeggre">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
                            style="font-size: 11px;">
                            <label class="chooseLabel"><i class="fa-solid fa-temperature-high"></i> {{lang.finishDeggre}}</label>
                            <input type="number" style="border: 0px; border-bottom: 1px solid;" class="modal-input" class="form-control" formControlName="finishDeggre">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
                            <label class="chooseLabel"><i class="fa-solid fa-user"></i> {{lang.employeeName}}</label>
                            <select class="form-select chooseSelect" aria-label="Default select example"
                                formControlName="personName">
                                <option value="" disabled selected>{{lang.chooseEmployee}}</option>
                                <option *ngFor="let employee of employees" [value]="employee.id">{{employee.name +
                                    " " +
                                    employee.surname}}</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="btn-location mt-4">
                    <button type="button" class="button-4" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i> {{lang.cancel}}</button>
                    <a (click)="updateDissolution()" class="button-20" ><i class="fa-regular fa-pen-to-square"></i> {{lang.updateDissolution}} </a>
                </div>
            </div>
        </div>
    </div>
</div>