<div class="modal fade" id="assignmentDutyModal" tabindex="-1" aria-labelledby="assignmentDutyModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="assignmentDutyModalLabel"><i class="fa-solid fa-circle-info"></i>
                    {{lang.duty}} {{lang.details}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect" *ngIf="!empId">
                        <label class="chooseLabel"><i class="fa-solid fa-user"></i> {{lang.branchName}}</label>
                        <select class="form-select chooseSelect" (change)="onChangeBranch($event)"
                            aria-label="Default select example">
                            <option value="" disabled selected>{{lang.chooseBranch}}</option>
                            <option *ngFor="let branch of branchs" [value]="branch.id">{{branch.branchName}}</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
                        <label class="chooseLabel"><i class="fa-solid fa-user"></i> {{lang.employeeName}}</label>
                        <select class="form-select chooseSelect" (change)="onChangeEmployee($event)" aria-label="Default select example">
                            <option value="" disabled selected>{{lang.chooseEmployee}}</option>
                            <option *ngFor="let emp of employees" [value]="emp.id">{{emp.name + " " +emp.surname}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
                        <label class="chooseLabel"><i class="fa-solid fa-user"></i> {{lang.dutyName}}</label>
                        <select class="form-select chooseSelect" [(ngModel)]="selectedDutyId"
                            aria-label="Default select example">
                            <option value="" disabled selected>{{lang.chooseDuty}}</option>
                            <option *ngFor="let duty of dutys" [value]="duty.id">{{duty.dutyTitle + " "
                                +duty.createdDate}}</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect" style="margin-top: 24px;">
                        <button class="btn btn-sm" type="button" (click)="addDuty()"><i
                                class="fa-solid fa-user-plus"></i> {{lang.addNewDuty}}
                        </button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6" *ngFor="let duty of dutyArray; let i=index">
                        <div class="task-number">
                            <button class="delete-btn" type="button" (click)="removeDuty(i)">
                                <div class="icon">
                                    <i class="fas fa-trash-alt"></i>
                                </div>
                            </button>
                            <div class="name">
                                <label class="chooseLabel"><i class="fa-solid fa-user"></i> {{duty.dutyTitle +"
                                    "+duty.createdDate}} </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-location mt-4">
                    <button class="button-37" (click)="addAssignment()"><i class="fa-solid fa-circle-plus"></i>
                      {{lang.addNewDuty}}</button>
                  </div>
            </div>
        </div>
    </div>
</div>