<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="updateModalLabel"><i class="fa-regular fa-pen-to-square"></i> {{lang.updateUser}}</h1>
            </div>
            <div class="modal-body">
                <form [formGroup]="userUpdateForm" *ngIf="userUpdateForm">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xl-6 mb-2">
                          <label class="chooseLabel"><i class="fa-solid fa-envelope"></i>
                            {{lang.email}}</label>
                          <input type="text" class="modal-input addClass" class="form-control" formControlName="email"
                            style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 mb-2">
                          <label class="chooseLabel"><i class="fa-solid fa-user-tag"></i>
                            {{lang.name}}</label>
                          <input type="text" class="modal-input addClass" class="form-control" formControlName="name"
                            style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 mb-2">
                          <label class="chooseLabel"><i class="fa-solid fa-user-tag"></i>
                            {{lang.surname}}</label>
                          <input type="text" class="modal-input addClass" class="form-control" formControlName="surname"
                            style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 mb-2">
                          <label class="chooseLabel"><i class="fa-solid fa-tag"></i>
                            {{lang.title}}</label>
                          <input type="text" class="modal-input addClass" class="form-control" formControlName="title"
                            style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 ">
                          <label class="chooseLabel"><i class="fa-solid fa-phone"></i>
                            {{lang.phonenumber}}</label>
                          <input type="tel" class="modal-input addClass" class="form-control" formControlName="phoneNumber" placeholder="örn: 123 456 78 90"
                            style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6">
                          <label class="chooseLabel mb-3">{{lang.status}}</label><br>
                          <label class="switch">
                            <input type="checkbox" formControlName="status">
                            <span class="slider round"></span>
                          </label>
                        </div>
                    </div>                    
                </form>
                <div class="btn-location mt-4">
                  <button type="button" class="button-4" data-bs-dismiss="modal">{{lang.cancel}}</button>
                  <a (click)="updateUser()" class="button-20" data-bs-dismiss="modal"><i class="fa-regular fa-pen-to-square"></i> {{lang.updateUser}} </a>
                </div>
            </div>
        </div>
    </div>
</div>