<div class="modal fade" id="dutyDetailModal" tabindex="-1" aria-labelledby="dutyDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="dutyDetailModalLabel"><i class="fa-solid fa-circle-info"></i>
                    {{lang.details}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="dutyDetail">

                <div class="mb-3 ">
                    <label class="chooseLabel"><i class="fa-solid fa-comment"></i> {{lang.dutyDescription}}</label>
                    <input type="text" class="modal-input detail" [value]="dutyDetail?.dutyTitle" readonly>
                    <span class="tooltip-text">{{dutyDetail?.dutyTitle}}</span>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
                        <label class="chooseLabel"><i class="fa-solid fa-code-branch"></i> {{lang.branchName}}</label>
                        <input class="form-select chooseSelect detail forms" [value]="dutyDetail?.branchName" readonly>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
                        style="padding-right: 0px !important;">
                        <label class="chooseLabel"><i class="fa-regular fa-building icon-spacing"></i>
                            {{lang.blockName}}</label>
                        <input class="form-select chooseSelect detail forms" [value]="dutyDetail?.blockName" readonly>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
                        <label class="chooseLabel"><i class="fa-solid fa-stairs icon-spacing icon-spacing"></i>
                            {{lang.floorName}}</label>
                        <input class="form-select chooseSelect detail forms" [value]="dutyDetail?.floorName" readonly>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
                        style="padding-right: 0px !important;">
                        <label class="chooseLabel"><i class="fa-solid fa-door-open icon-spacing"></i>
                            {{lang.hallwayName}}</label>
                        <input class="form-select chooseSelect detail forms" [value]="dutyDetail?.hallwayName" readonly>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
                        <label class="chooseLabel"><i class="fa-solid fa-house"></i> {{lang.roomName}}</label>
                        <input class="form-select chooseSelect detail forms" [value]="dutyDetail?.roomName" readonly>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
                        style="padding-right: 0px !important;">
                        <label class="chooseLabel"><i class="fa-solid fa-calendar-days"></i> {{lang.date}}</label>
                        <input class="form-select chooseSelect detail forms" [value]="dutyDetail?.createdDate" readonly>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
                        <label class="chooseLabel"><i class="fa-solid fa-circle-play"></i>
                            {{lang.cleaningBefore}}</label>
                        <input class="form-select chooseSelect detail forms" [value]="dutyDetail?.dutyStartDate" readonly>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
                        style="padding-right: 0px !important;">
                        <label class="chooseLabel"><i class="fa-solid fa-flag-checkered"></i>
                            {{lang.cleaningAfter}}</label>
                        <input class="form-select chooseSelect detail forms" [value]="dutyDetail?.dutyEndDate" readonly>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xl-12 custom-select-wrapper modalSelect"
                        *ngIf="dutyDetail?.status">
                        <label class="chooseLabel"><i class="fa-solid fa-circle-check"></i> {{lang.status}}</label>
                        <input class="form-select chooseSelect detail forms" [value]="lang.active" readonly>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xl-12 custom-select-wrapper modalSelect"
                        *ngIf="!dutyDetail?.status">
                        <label class="chooseLabel"><i class="fa-solid fa-circle-xmark"></i> {{lang.status}}</label>
                        <input class="form-select chooseSelect detail forms" [value]="lang.passive" readonly>
                    </div>
                    <div
                        class="col-lg-12 col-md-12 col-xl-12 custom-select-wrapper modalSelect d-flex justify-content-center">
                        <label class="chooseLabel labels"><i class="fa-solid fa-users"></i> {{lang.employees}}</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"
                        *ngFor="let employee of employees">
                        <label class="chooseLabel"><i class="fa-solid fa-users icon-spacing"></i>
                            {{lang.employeeName}}</label>
                        <input class="form-select chooseSelect detail forms"
                            [value]="employee?.name+' '+employee.surname" readonly>
                    </div>
                    <div
                        class="col-lg-12 col-md-12 col-xl-12 custom-select-wrapper modalSelect d-flex justify-content-center">
                        <label class="chooseLabel labels"><i class="fa-solid fa-list-check"></i> {{lang.dutys}}</label>
                    </div>
                </div>
                <div class="row" *ngFor="let task of tasks;let i=index;">
                    <label class="chooseLabel labels"><i class="fa-solid fa-list-check"></i> {{i+1}}.{{lang.duty}}</label>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
                        <label class="chooseLabel"><i class="fa-solid fa-tag"></i> {{lang.taskName}}</label>
                        <input class="form-select chooseSelect detail forms" [value]="task?.taskName" readonly>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
                        <label class="chooseLabel"><i class="fa-solid fa-comment"></i> {{lang.dutyDescription}}</label>
                        <input class="form-select chooseSelect detail forms" [value]="task?.taskDescription" readonly>
                    </div>

                </div>
                <div class="btn-location mt-5">
                    <button class="button-37" routerLink="/duty" data-bs-dismiss="modal"><i
                            class="fa-solid fa-right-to-bracket"></i>{{lang.gotoDuty}}</button>
                </div>
            </div>
        </div>
    </div>
</div>