<div class="modal fade" id="technicalErrorsModal" tabindex="-1" aria-labelledby="technicalErrorsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="technicalErrorsModalLabel"><i class="fa-solid fa-circle-info"></i>
                    {{lang.duty}} {{lang.details}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="technicalError">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xl-12 custom-select-wrapper modalSelect modal-right">
                        <label class="chooseLabel"><i class="fa-solid fa-tag"></i> {{lang.errorTitle}}</label>
                        <input type="text" class="modal-input detail" [value]="technicalError.errorTitle" readonly>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xl-12 custom-select-wrapper modalSelect modal-right">
                        <label class="chooseLabel"><i class="fa-solid fa-comment"></i> {{lang.errorDescription}}</label>
                        <textarea class="form-control forms chooseSelect detail" rows="3" [value]="technicalError.errorDescription" readonly></textarea>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xl-12 custom-select-wrapper modalSelect modal-right">
                        <label class="chooseLabel"><i class="fa-solid fa-building-user"></i> {{lang.departmentName}}</label>
                        <textarea class="form-control forms chooseSelect detail" rows="3" [value]="depName" readonly></textarea>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
                        <label class="chooseLabel"><i class="fa-regular fa-building icon-spacing"></i>
                            {{lang.employeeName}}</label>
                        <input class="form-select forms chooseSelect detail" [value]="employeeName" readonly>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"style="padding-right: 0px !important;">
                        <label class="chooseLabel"><i class="fa-solid fa-stairs icon-spacing icon-spacing"></i>
                            {{lang.createdDate}}</label>
                        <input class="form-select forms chooseSelect detail" [value]="technicalError.createdDate" readonly>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
                        <label class="chooseLabel"><i class="fa-solid fa-door-open icon-spacing"></i>
                            {{lang.complecetedDate}}</label>
                        <input class="form-select forms chooseSelect detail" [value]="technicalError.complecetedDate" readonly>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"style="padding-right: 0px !important;">
                        <label class="chooseLabel"><i class="fa-solid fa-house"></i> {{lang.roomName}}</label>
                        <input class="form-select forms chooseSelect detail" [value]="roomName" readonly>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
                        <label class="chooseLabel"><i class="fa-solid fa-calendar-days"></i> {{lang.date}}</label>
                        <input class="form-select forms chooseSelect detail" [value]="technicalError.createdDate" readonly>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect" style="padding-right: 0px !important;"*ngIf="technicalError.status">
                        <label class="chooseLabel"><i class="fa-solid fa-circle-check"></i> {{lang.status}}</label>
                        <input class="form-select forms chooseSelect detail" [value]="lang.passive" readonly>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect"style="padding-right: 0px !important;"
                        *ngIf="!technicalError.status">
                        <label class="chooseLabel"><i class="fa-solid fa-circle-xmark"></i> {{lang.status}}</label>
                        <input class="form-select forms chooseSelect detail" [value]="lang.active" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>