<div class="modal fade" id="workAccidentModal" tabindex="-1" role="dialog" aria-labelledby="workAccidentModalLabel" *app="updateRole"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="box-shadow: none !important;">
                <h6 id="updateModalLabel"><i class="fa-solid fa-person-falling-burst"></i> {{lang.witnessUpdate}}
                </h6>
            </div>
            <div class="modal-body" *ngIf="workAccidentUpdateForm">
                <form [formGroup]="workAccidentUpdateForm">
                    <div formArrayName="workAccidentAdmin">
                        <div *ngFor="let admin of workAccidentAdminFormArray.controls; let i = index"
                            [formGroupName]="i">
                            <h6 class="mt-2" *ngIf="i === 0"> {{lang.officer}}</h6>
                            <h6 class="mt-2"*ngIf="i === 1"> {{lang.accident}}</h6>
                            <h6 class="mt-2"*ngIf="i >= 2">{{lang.witness}} {{ i - 1 }}</h6>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect" >
                                    <label for="name" class="chooseLabel"><i class="fa-solid fa-user-tag"></i> {{lang.name}}</label>
                                    <input class="form-select forms chooseSelect detail" type="text" formControlName="name">
                                </div>
                                <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect" style="padding-right:0px !important;">
                                    <label for="name" class="chooseLabel"><i class="fa-solid fa-user-tag"></i> {{lang.surname}}</label>
                                    <input class="form-select forms chooseSelect detail" type="text" formControlName="surname">
                                </div>
                                <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect" >
                                    <label for="phoneNumber" class="chooseLabel"><i class="fa-solid fa-user-tag"></i> {{lang.phonenumber}}</label>
                                    <input class="form-select forms chooseSelect detail" type="text" formControlName="phoneNumber">
                                </div>
                                <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect" style="padding-right:0px !important;">
                                    <label for="mission" class="chooseLabel"><i class="fa-solid fa-user-tag"></i> {{lang.mission}}</label>
                                    <input class="form-select forms chooseSelect detail" type="text" formControlName="mission">
                                </div>
                                <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect" >
                                    <label for="address" class="chooseLabel"><i class="fa-solid fa-user-tag"></i> {{lang.address}}</label>
                                    <input class="form-select forms chooseSelect detail" type="text" formControlName="address">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="btn-location mt-4" style="margin-bottom: 8px;">
                    <button type="button" class="button-4" data-bs-dismiss="modal">{{lang.cancel}}</button>
                    <a (click)="updateWorkAccident()" class="button-20"><i
                            class="fa-regular fa-pen-to-square"></i> {{lang.update}} </a>
                </div>
            </div>
        </div>
    </div>
</div>