<div class="modal fade" id="additionalTaskAddModal" tabindex="-1" aria-labelledby="additionalTaskAddModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="additionalTaskAddModalLabel"><i class="fa-solid fa-circle-plus"></i> {{lang.addNewAdditionalTask}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="additionalTaskAddForm" style="margin-bottom: 3rem;">
                    <div class="row">
                        <div class="mb-3 col-lg-12 col-md-12 col-xl-12">
                            <label class="chooseLabel"><i class="fa-regular fa-building icon-spacing"></i> {{lang.dutyStations}}</label>
                            <input type="text" class="modal-input" class="form-control" formControlName="name" readonlystyle="margin-bottom: 0px !important;">
                        </div>
                    </div>
                    <div class="task-grp">
                        <button class="btn btn-sm add-btn-grp" style="margin-left: 1%;padding: 2%;" type="button"
                          (click)="addTask()"> {{lang.addNewTask}} <fa-icon
                            class="sidebar-icon" [icon]="faPlus"></fa-icon>
                        </button>
                    </div>
                    <div formArrayName="tasks">
                        <div class="row">
                        <div *ngFor="let task of tasksArray.controls; let i=index" class="task-item col-lg-6 col-md-6 col-xl-6">
                          <div class="task-number">
                            <span><button class="btn" style="font-size: large;font: bold;" type="button" (click)="removeTask(i)"> 
                              <div class="icon">-</div> </button></span>
                          </div>
                          <div [formGroupName]="i">
                            <input class="modal-input" type="text" placeholder="{{lang.taskName}}" formControlName="taskName">                   
                          </div>  
                          <div [formGroupName]="i">
                            <textarea style="width: 100%;" class="modal-input" placeholder="{{lang.description}}" formControlName="taskDescription"></textarea>
                          </div>  
                          <div [formGroupName]="i" class="col-lg-12 col-md-12 col-xl-12 custom-select-wrapper modalSelect">
                            <label class="chooseLabel"> <i class="fa-solid fa-building-user"></i> {{lang.departmentName}}</label>
                            <select class="form-select chooseSelect" aria-label="Default select example"
                              formControlName="departmentId" style="font: small-caption !important; ">
                              <option value="" disabled selected>{{lang.chooseDepartment}}</option>
                              <option *ngFor="let department of departments" [value]="department.id"> {{department.departmentName}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div> 
                    </div>
                </form>
                <div class="btn-location">
                    <button class="button-37" (click)="addAdditionalTask()" data-bs-dismiss="modal"><i class="fa-solid fa-circle-plus"></i> {{lang.addNewAdditionalTask}}</button>
                </div>
            </div>
        </div>
    </div>
</div>