<div class="container-fluid rounded bg-white mt-5 mb-5" *ngIf="user">
    <div class="row">
        <div class="col-md-3 border-right smallScreen imageScreen">
            <div>
                <div class="d-flex justify-content-center image">
                    <img class="profile-img mt-3" width="300px" height="300px" [src]="getImagePath(user)" alt="">
                </div>
                <div class="d-flex flex-column align-items-center text-center p-3 ">
                    <span class="font-weight-bold">{{user.name}}</span>
                    <span class="text-black-50">{{user.email}}</span>
                </div>
                <div class="modal-footer">
                    <label class="labels" for="form3Example4" style="font-size: 10pt;">{{lang.changeProfile}}</label>
                    <input (change)="onChange($event)" type="file" id="form3Example3" class="form-control" />
                    <button class="button-20 mt-3 mb-2" (click)="updateImage(); showLoading = true;" [disabled]="showLoading">{{lang.update}}</button>
                    <div *ngIf="showLoading" class="spinner-border text-primary" role="status">
                        
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-md-5 border-right smallScreen imageScreen">
            <form [formGroup]="userUpdateForm" *ngIf="userUpdateForms">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">{{lang.userProfile}}</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">{{lang.name}}</label><input type="text"
                                class="form-control" placeholder="{{lang.name}}" readonly formControlName="name"></div>
                        <div class="col-md-6"><label class="labels">{{lang.surname}}</label><input type="text"
                                class="form-control" placeholder="{{lang.surname}}" readonly formControlName="surname"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">{{lang.email}}</label><input type="text"
                                class="form-control" placeholder="{{lang.email}}" formControlName="email"></div>
                        <div class="col-md-12"><label class="labels">{{lang.title}}</label><input type="text"
                                class="form-control" placeholder="{{lang.title}}" readonly formControlName="title"></div>
                        <div class="col-md-12"><label class="labels">{{lang.status}}</label><input type="text"
                                class="form-control" placeholder="{{lang.status}}" readonly formControlName="status"></div>
                    </div>
                </div>
            </form>
            <div class="mt-4 mb-3 text-center button-save">
                <button class="button-20" type="button"(click)="updateUser()">{{lang.save}}</button>
            </div>
        </div>
        <div class="col-md-4 smallScreen">
            <form [formGroup]="userChangePasswordForm">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">{{lang.changePassword}}</h4>
                    </div>
                    <div class="col-md-12 mb-2"><label class="labels">{{lang.oldPassword}}</label>
                        <input type="password" class="form-control" placeholder="{{lang.oldPassword}}" formControlName="oldPassword">
                    </div> 
                    <div class="col-md-12 mb-2"><label class="labels">{{lang.newPassword}}</label>
                        <input type="password" class="form-control" placeholder="{{lang.newPassword}}"formControlName="newPassword" [(ngModel)]="password">
                    </div>
                    <div class="col-md-12 "><label class="labels">{{lang.passwordVerify}}</label>
                        <input type="password" class="form-control" placeholder="{{lang.passwordVerify}}"formControlName="newPassword" [(ngModel)]="verifyPassword">
                    </div>
                </div>
            </form>
            <div class="text-center button-save">
                <button class="button-20 profile-button"style="margin-top: 5.2rem;" type="button"(click)="changePassword()">{{lang.save}}</button>
            </div>
        </div>
    </div>
</div>