<div class="container-fluid" style="padding-left: 20px;padding-right: 20px;">
    <app-navbar-technical-error></app-navbar-technical-error>
    <ag-grid-angular id="datatable" style="width: 100%" class="ag-theme-alpine" [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef" [rowSelection]="'multiple'" [enableCellTextSelection]="true"
        [cacheBlockSize]="cacheBlockSize" [cacheOverflowSize]="cacheOverflowSize"
        [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
        [infiniteInitialRowCount]="infiniteInitialRowCount" [enableBrowserTooltips]="true"
        [overlayNoRowsTemplate]="noRowsTemplate" [maxBlocksInCache]="maxBlocksInCache" [rowData]="rowData"
        [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
        [suppressScrollOnNewData]="true"></ag-grid-angular>
</div>
<app-add-technical-error (technicalErrorEvent)="getAllTechnicalError()"></app-add-technical-error>
<app-update-technical-error (technicalErrorEvent)="getAllTechnicalError()" [technicalError]="technicalError"></app-update-technical-error>
<app-technical-error-detail [errorDetail]="technicalError"></app-technical-error-detail>
<app-technical-error-image [technicalError]="technicalError"></app-technical-error-image>