<div class="modal fade" id="updateDutyTagModal" tabindex="-1" aria-labelledby="updateDutyTagModalLabel" aria-hidden="true" *app="updateDutyTagItem">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="updateDutyTagModalLabel"><i class="fa-regular fa-pen-to-square"></i> {{lang.updateDutyTag}}</h1>
            </div>
            <div class="modal-body">
                <form [formGroup]="dutyTagUpdateForm" *ngIf="dutyTagUpdateForm">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xl-12 mb-2">
                            <label class="chooseLabel"><i class="fa-solid fa-building-user"></i>{{lang.dutyTagName}}</label>
                            <input type="text" class="modal-input addClass" class="form-control" formControlName="tagName"
                                style="margin-bottom: 0px !important;">
                        </div>
                    </div>
                </form>
                <div class="btn-location mt-4">
                    <button type="button" class="button-4" data-bs-target="#departmentModal" data-bs-toggle="modal"><i class="fa-solid fa-circle-xmark"></i> {{lang.cancel}}</button>
                    <a (click)="updateDutyTag()" class="button-20" ><i class="fa-regular fa-pen-to-square"></i> {{lang.updateDutyTag}} </a>
                </div>
            </div>
        </div>
    </div>
</div>