<div class="modal fade" id="companyModal" tabindex="-1" aria-labelledby="companyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="companyModalLabel">{{lang.companies}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
                <app-navbar-company></app-navbar-company>
                <ag-grid-angular id="datatable" style="width: 100%;height: 40vh;" class="ag-theme-alpine"
                    [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowSelection]="'multiple'"
                    [enableCellTextSelection]="true" [cacheBlockSize]="cacheBlockSize"
                    [cacheOverflowSize]="cacheOverflowSize"
                    [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
                    [infiniteInitialRowCount]="infiniteInitialRowCount" [enableBrowserTooltips]="true"
                    [overlayNoRowsTemplate]="noRowsTemplate" [maxBlocksInCache]="maxBlocksInCache" [rowData]="rowData"
                    [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
                    [suppressScrollOnNewData]="true"></ag-grid-angular>
            </div>
        </div>
    </div>
</div>
<app-add-company (companyEvent)="getAll()"></app-add-company>
<app-update-company [companyDetail]="company" (companyUpdateEvent)="getAll()"></app-update-company>