
    <div class="modal fade" id="materialUsageModal" tabindex="-1" aria-labelledby="materialUsageModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-6" id="materialUsageModalLabel"><i class="fa-solid fa-list-ol"></i> {{lang.materialUsage}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" *ngIf="materialManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xl-6 mb-3" *ngFor="let material of materialManagement.materialUsage;let i =index">
                            <label class="chooseLabel"><i class="fa-solid fa-list-ol"></i> {{i+1}}. {{lang.article}}</label>
                            <input class="form-select chooseSelect detail forms" [value]="material" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
