<body>
    <div class="container-login d-flex align-items-center justify-content-center vh-100">
      <div class="text-center">
        <div>
      </div>
      <div class="login-title ">
        <img src="/assets/img/logo-White.png" width="250" alt="" srcset="">
        <p id="login-description">{{lang.newGenerationCleaning}}</p>
     </div>
     <div class="languages">
      <a (click)="changeLanguage('tr')" class="language">
        <img src="/assets/img/turkey.png" alt="">
      </a>
      <a (click)="changeLanguage('en')" class="language" style="margin-left: 1rem;">
        <img src="/assets/img/united-kingdom.png" alt="">
      </a>
      <a (click)="changeLanguage('de')" class="language" style="margin-left: 1rem;">
        <img src="/assets/img/germany.png" alt="">
      </a>
      <a (click)="changeLanguage('fr')" class="language" style="margin-left: 1rem;">
        <img src="/assets/img/france.png" alt="">
    </a>
    </div>
     <form [formGroup]="changePassword">
        <input type="password" id="inputPassword" class="form-control mb-2" placeholder="Yeni Şifre" required [(ngModel)]="password" formControlName="newPassword">
        <input type="password" id="inputPassword" class="form-control mb-3" placeholder="Yeni Şifre Tekrar" required [(ngModel)]="verifyPassword" formControlName="newPassword">
      </form>
        <div class="button-group">
          <button class="btn mb-3 mr-3 btn-danger custom-btn" type="submit" (click)="forgottenPassword()">{{lang.changePassword}}</button>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; TTD V1.3 </p>
      </div>
    </div>
    </body>