<div class="container-fluid" style="padding-left: 20px;padding-right: 20px;">
    <app-navbar-repeated-duty [selectedIdsInput]="selectedIds" (selectedOutput)="getAllRepeatedDuty()"></app-navbar-repeated-duty>
    <ag-grid-angular id="datatable" style="width: 100%" class="ag-theme-alpine" [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef" [rowSelection]="'multiple'" [enableCellTextSelection]="true"
        [cacheBlockSize]="cacheBlockSize" [cacheOverflowSize]="cacheOverflowSize"
        [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
        [infiniteInitialRowCount]="infiniteInitialRowCount" [enableBrowserTooltips]="true"
        [overlayNoRowsTemplate]="noRowsTemplate" [maxBlocksInCache]="maxBlocksInCache" [rowData]="rowData"
        [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
        [suppressScrollOnNewData]="true"></ag-grid-angular>
</div>
<app-add-repeated-duty (repeatedDutyEmit)="getAllRepeatedDuty()"></app-add-repeated-duty>
<app-update-repeated-duty (repeatedDutyEmit)="getAllRepeatedDuty()" [repeatedDutyDetails]="(repeatedDuty)"></app-update-repeated-duty>
<app-add-employee-repeated-duty  [repeatedDetails]="repeatedDuty" (repeatedDutyAddEmit)="getAllRepeatedDuty()"></app-add-employee-repeated-duty> 
<app-add-batch-repeated-duty (repeatedDutyAddEmit)="getAllRepeatedDuty()"></app-add-batch-repeated-duty>