<div class="container-fluid" style="padding-left: 20px;padding-right: 20px;">
    <app-navbar-employee-break ></app-navbar-employee-break>
    <ag-grid-angular id="datatable" style="width: 100%;height: 80vh;" class="ag-theme-alpine" [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef" [rowSelection]="'multiple'" [enableCellTextSelection]="true"
        [cacheBlockSize]="cacheBlockSize" [cacheOverflowSize]="cacheOverflowSize"
        [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
        [infiniteInitialRowCount]="infiniteInitialRowCount" [enableBrowserTooltips]="true"
        [overlayNoRowsTemplate]="noRowsTemplate" [maxBlocksInCache]="maxBlocksInCache" [rowData]="rowData"
        [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
        [suppressScrollOnNewData]="true"></ag-grid-angular>
</div>

<app-add-employee-break (employeeBreakEmit)="getAll()"></app-add-employee-break>
<app-update-employee-break (employeeBreakEmit)="getAll()" [employeeBreakDetail]="employeeBreak"></app-update-employee-break>
