<div class="modal fade" id="dutyUpdateTaskModal" tabindex="-1" aria-labelledby="dutyUpdateTaskModalLabel" aria-hidden="true" *app="updateDutyItem">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-6" id="dutyUpdateTaskModalLabel"><i class="fa-solid fa-list"></i> {{lang.taskDetails}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="padding: 3% !important;" *ngIf="duty">
          <div class="accordion" id="accordionExample">
            <div class="task-grp mb-4 d-flex justify-content-center">
              <button class="btn button-4 me-2" type="button" (click)="addTaskDuty()">{{lang.addNewDuty}} </button>
            </div>
            <ng-container [formGroup]="taskAdd" >
              <div formArrayName="task">
                <div *ngFor="let tasks of dutyTasksGroup.controls; let i=index" class="task-item">
                  
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect" [formGroupName]="i">
                      <label class="chooseLabel"><i class="fa-solid fa-tags"></i> {{lang.dutyTitle}}</label>
                      <input class="form-select chooseSelect detail" type="text" formControlName="taskName">
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect" [formGroupName]="i"
                      style="padding-right: 0px !important;">
                      <label class="chooseLabel"><i class="fa-solid fa-comment"></i> {{lang.dutyDescription}}</label>
                      <input class="form-select chooseSelect detail" type="text" formControlName="taskDescription">
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect  modal-right"
                      [formGroupName]="i">
                      <label class="chooseLabel"><i class="fa-solid fa-building-user"></i> {{lang.departmentName}}</label>
                      <select class="form-select chooseSelect" aria-label="Default select example"
                        formControlName="departmentId">
                        <option value="" disabled selected>{{lang.chooseDepartment}}</option>
                        <option *ngFor="let department of departments" [value]="department.id">{{department.departmentName}}
                        </option>
                      </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xl-6 task-delete">
                      <div class="task-number">
                        <span>
                          <button class="btn delete-btn" type="button" (click)="removeTask(i)"> <div class="icon"> <i class="fas fa-trash-alt"></i>  </div>
                            <span class="delete-text">{{dutyDelete}}</span>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="dutyTasksGroup?.length>0" class="mt-3 d-flex justify-content-end mb-2">
                <button class="button-4" data-bs-dismiss="modal">{{lang.cancel}}</button>
                <button class="button-24" (click)="addTask()" cdkFocusInitial data-bs-dismiss="modal">{{lang.addNewDuty}}</button> 
              </div>
          </ng-container>
            <div class="accordion-item" *ngFor="let task of tasks.task; let i = index">
              <h2 class="accordion-header" id="heading{{ i }}" >
                <button class="accordion-button" type="button" data-bs-toggle="collapse"(click)="getDepartmentById(task.departmentId)"
                  [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i">
                  {{lang.taskStatus}}:
                  <span [ngClass]="{'text-success': task.status, 'text-danger': !task.status}">
                    {{ task.status ? lang.active : lang.passive }}
                  </span>
                </button>
              </h2>
              <div [id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i"
                data-bs-parent="#accordionExample" *ngIf="department">
                <div class="accordion-body">
                  <div class="row">
                    <div class="mb-3 col-lg-6 col-xl-6 col-sm-6 col-md-6">
                      <label class="chooseLabel"><i class="fa-solid fa-tag"></i>{{lang.dutyName}}</label>
                      <input type="text" class="modal-input detail" [value]="task.taskName" readonly>
                    </div>
                    <div class="mb-3 col-lg-6 col-xl-6 col-sm-6 col-md-6">
                      <label class="chooseLabel"><i class="fa-solid fa-comment"></i> {{lang.dutyDescription}}</label>
                      <input type="text" class="modal-input detail" [value]="task.taskDescription"readonly>
                    </div>
                    <div class="mb-3 col-lg-6 col-xl-6 col-sm-6 col-md-6">
                        <label class="chooseLabel"><i class="fa-solid fa-building-user"></i> {{lang.departmentName}}</label>
                        <input type="text" class="modal-input detail" [value]="department.departmentName" readonly>
                      </div>
                    <div class="mb-3 col-lg-6 col-xl-6 col-sm-6 col-md-6">
                      <label class="chooseLabel" *ngIf="task.status"><i class="fa-solid fa-circle-check"></i> {{lang.status}}</label>
                      <label class="chooseLabel" *ngIf="!task.status"><i class="fa-solid fa-circle-xmark"></i> {{lang.status}}</label>
                      <input type="text" class="modal-input detail" [value]="task.status ? lang.active : lang.passive"readonly>
                    </div>
                  </div>
                  <div class="delete-button d-flex justify-content-end p-3">
                    <button class="btn button-24" type="button" (click)="deleteTask(i)" data-bs-dismiss="modal"> {{lang.deletedTask}} </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>