
<nav class="hk-nav">
    <div class="nicescroll-bar">
        <div class="navbar-nav-wrap">
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']">
                        <span class="feather-icon"><i class="fa-solid fa-table-columns"></i></span>
                        <span class="nav-link-text">{{lang.dashboard}}</span>
                    </a>
                </li>
            </ul>
            <hr class="nav-separator" class="nav-link-text"> 
           
            <ul class="navbar-nav flex-column">
                <li  class="nav-item"> 
                    <li  class="nav-item"  >
                        <a class="nav-link" [routerLink]="['/branch']">
                            <span class="feather-icon"><i class="fa-solid fa-code-branch icon-spacing"></i></span>
                            <span class="nav-link-text">Kargolar</span>
                        </a>
                    </li>
                    <li    cass="nav-item"  >
                        <a class="nav-link" [routerLink]="['/block']">
                            <span class="feather-icon"><i class="fa-regular fa-building icon-spacing"></i></span>
                            <span class="nav-link-text">{{lang.block}}</span>
                        </a>
                    </li>
                    <li class="nav-item"  >
                        <a class="nav-link" [routerLink]="['/floor']">
                            <span class="feather-icon"><i class="fa-solid fa-stairs icon-spacing"></i></span>
                            <span class="nav-link-text">{{lang.floor}}</span>
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" [routerLink]="['/hallway']"  >
                            <span class="feather-icon"><i class="fa-solid fa-door-open icon-spacing"></i></span>
                            <span class="nav-link-text">{{lang.hallway}}</span>
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" [routerLink]="['/room']" >
                            <span class="feather-icon"><i class="fa-solid fa-house icon-spacing"></i></span>
                            <span class="nav-link-text">{{lang.room}}</span>
                        </a>
                    </li>
                    <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#dash_pers_drop" style="color: white;" >  
                        <span class="feather-icon"><i class="fa-solid fa-users icon-spacing"></i></span>
                        <span class="nav-link-text"> {{lang.employee}} <i class="fa-solid fa-caret-down"></i></span>
                    </a>
                    <ul id="dash_pers_drop" class="flex-column collapse collapse-level-1">
                        <li class="nav-item" >
                            <a class="nav-link" [routerLink]="['/user']" >
                                <span class="feather-icon"><i class="fa-solid fa-user-tie icon-spacing"></i></span>
                                <span class="nav-link-text">{{lang.user}}</span>
                            </a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" [routerLink]="['/employee']">
                                <span class="feather-icon"><i class="fa-solid fa-users icon-spacing"></i></span>
                                <span class="nav-link-text">{{lang.employee}}</span>
                            </a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" [routerLink]="['/working-hours-system']">
                                <span class="feather-icon"><i class="fa-solid fa-users icon-spacing"></i></span>
                                <span class="nav-link-text">{{lang.workingHoursSystem}}</span>
                            </a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" [routerLink]="['/working-hours-system-qr-code']">
                                <span class="feather-icon"><i class="fa-solid fa-qrcode"></i></span>
                                <span class="nav-link-text">{{lang.workingHoursSystemQrCode}}</span>
                            </a>
                        </li>
                        <li *app="role.getAllShiftItem">
                            <a class="nav-link" [routerLink]="['/shift-system']">
                                <span class="feather-icon"><i class="fa-solid fa-calendar"></i></span>
                                <span class="nav-link-text">{{lang.shiftSystem}}</span>
                            </a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" [routerLink]="['/employee-shift']">
                                <span class="feather-icon"><i class="fa-solid fa-calendar-days"></i></span>
                                <span class="nav-link-text">{{lang.employeeShifts}}</span>
                            </a>
                        </li>
                    </ul>
            </ul>

            <div class="languages">
                <a (click)="changeLanguage('tr')" class="language">
                    <img src="/assets/img/turkey.png" alt="">
                </a>
                <a (click)="changeLanguage('en')" class="language" style="margin-left: 1rem;">
                    <img src="/assets/img/united-kingdom.png" alt="">
                </a>
                <a (click)="changeLanguage('de')" class="language" style="margin-left: 1rem;">
                    <img src="/assets/img/germany.png" alt="">
                </a>
                <a (click)="changeLanguage('fr')" class="language" style="margin-left: 1rem;">
                    <img src="/assets/img/france.png" alt="">
                </a>
            </div>
        </div>
    </div>

</nav>




  

  <div class="offcanvas offcanvas-start canvas-style" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header" >
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    
    <div class="offcanvas-body">
        <a class="navbar-brand font-weight-700"  [routerLink]="['/']">
            <div class="navbar-logo">
                <img src="/assets/img/logo-White.png" alt="user" class="avatar-img ">
            </div>
        </a>

        <div class="languages">
            <a (click)="changeLanguage('tr')" class="language">
                <img src="/assets/img/turkey.png" alt="">
            </a>
            <a (click)="changeLanguage('en')" class="language" style="margin-left: 1rem;">
                <img src="/assets/img/united-kingdom.png" alt="">
            </a>
            <a (click)="changeLanguage('de')" class="language" style="margin-left: 1rem;">
                <img src="/assets/img/germany.png" alt="">
            </a>
            <a (click)="changeLanguage('fr')" class="language" style="margin-left: 1rem;">
                <img src="/assets/img/france.png" alt="">
            </a>
        </div>
        <ul class="navbar-nav flex-column">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">
                    <span class="feather-icon"><i class="fa-solid fa-table-columns"></i></span>
                    <span class="nav-link-text">{{lang.dashboard}}</span>
                </a>
            </li>
        </ul>
        <hr class="nav-separator" class="nav-link-text"> 
       
        <ul class="navbar-nav flex-column">
            <li  class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#dash_drp" style="color: white;" >  
                    <span class="feather-icon"><i class="fa-solid fa-location-dot"></i></span>
                    <span class="nav-link-text"> {{lang.dutyStations}} <i class="fa-solid fa-caret-down"></i></span>
                </a>
                <ul id="dash_drp" class="flex-column collapse collapse-level-1" >
                    <li  class="nav-item"  >
                        <a class="nav-link" [routerLink]="['/branch']">
                            <span class="feather-icon"><i class="fa-solid fa-code-branch icon-spacing"></i></span>
                            <span class="nav-link-text">{{lang.branch}}</span>
                        </a>
                    </li>
                    <li    cass="nav-item"  >
                        <a class="nav-link" [routerLink]="['/block']">
                            <span class="feather-icon"><i class="fa-regular fa-building icon-spacing"></i></span>
                            <span class="nav-link-text">{{lang.block}}</span>
                        </a>
                    </li>
                    <li class="nav-item"  >
                        <a class="nav-link" [routerLink]="['/floor']">
                            <span class="feather-icon"><i class="fa-solid fa-stairs icon-spacing"></i></span>
                            <span class="nav-link-text">{{lang.floor}}</span>
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" [routerLink]="['/hallway']"  >
                            <span class="feather-icon"><i class="fa-solid fa-door-open icon-spacing"></i></span>
                            <span class="nav-link-text">{{lang.hallway}}</span>
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" [routerLink]="['/room']" >
                            <span class="feather-icon"><i class="fa-solid fa-house icon-spacing"></i></span>
                            <span class="nav-link-text">{{lang.room}}</span>
                        </a>
                    </li>
                </ul>
                <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#dash_pers_drop" style="color: white;" >  
                    <span class="feather-icon"><i class="fa-solid fa-users icon-spacing"></i></span>
                    <span class="nav-link-text"> {{lang.employee}} <i class="fa-solid fa-caret-down"></i></span>
                </a>
                <ul id="dash_pers_drop" class="flex-column collapse collapse-level-1">
                    <li class="nav-item" >
                        <a class="nav-link" [routerLink]="['/user']" >
                            <span class="feather-icon"><i class="fa-solid fa-user-tie icon-spacing"></i></span>
                            <span class="nav-link-text">{{lang.user}}</span>
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" [routerLink]="['/employee']">
                            <span class="feather-icon"><i class="fa-solid fa-users icon-spacing"></i></span>
                            <span class="nav-link-text">{{lang.employee}}</span>
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" [routerLink]="['/working-hours-system']">
                            <span class="feather-icon"><i class="fa-solid fa-users icon-spacing"></i></span>
                            <span class="nav-link-text">{{lang.workingHoursSystem}}</span>
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" [routerLink]="['/working-hours-system-qr-code']">
                            <span class="feather-icon"><i class="fa-solid fa-qrcode"></i></span>
                            <span class="nav-link-text">{{lang.workingHoursSystemQrCode}}</span>
                        </a>
                    </li>
                    <li *app="role.getAllShiftItem">
                        <a class="nav-link" [routerLink]="['/shift-system']">
                            <span class="feather-icon"><i class="fa-solid fa-calendar"></i></span>
                            <span class="nav-link-text">{{lang.shiftSystem}}</span>
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" [routerLink]="['/employee-shift']">
                            <span class="feather-icon"><i class="fa-solid fa-calendar-days"></i></span>
                            <span class="nav-link-text">{{lang.employeeShifts}}</span>
                        </a>
                    </li>
                </ul>
        </ul>
    </div>
  </div>