<app-block-update [blockDetail]="block" (blockEvent)="getAllBlock()"></app-block-update>

<div class="container" style="max-width: 100% !important ">
  <div class="row" *ngIf="blocks.length > 0 &&dataLoaded==true">
    <div class="col-xl-4 card-screen-medium" *ngFor="let block of blocks |branchFilter:filterText:'blockName'| paginate: { itemsPerPage: getPaginationSize(), currentPage: page,totalItems: blocks?.length, id: 'first'}">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-4 left-section">
            <h6 class="card-title text-white">{{lang.details}}</h6>
            <div class="card-body text-start">
              <div *ngFor="let blockCount of blockCounts">
                <ul class="ul-group" *ngIf="blockCount.id==block.id" style="padding-left: 0px;">
                  <div> 
                   <li>
                    <p>{{lang.floorCount}} : <span> {{ blockCount.floorCount }}</span></p> 
                   </li>
                   <li>
                       <p>{{lang.hallwayCount}} : <span>{{ blockCount.hallwayCount }}</span></p>  
                   </li>
                   <li>
                     <p>{{lang.roomCount}} : <span>{{ blockCount.roomCount }}</span></p> 
                   </li>
                  </div>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-8 right-section">
            <div class="top-section">
              <h6 class="card-title">
                <i class="fa-solid fa-building"></i>
                {{ block.blockName }}
              </h6>
              <div class="card-title-setting-btn">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-gear"></i>
                  </button>
                  <ul class="dropdown-menu">

                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updateModal"
                        (click)="getByBlock(block.id)"><i class="fa-regular fa-pen-to-square"></i> {{lang.update}}</a>
                    </li>
                    <li><a class="dropdown-item" (click)="onDeleteBlock(block.id)"> <i class="fa-regular fa-trash-can"></i> {{lang.delete}}</a></li>
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#detailModal" (click)="getDetailsByBlockId(block.id)"> <i class="fa-solid fa-info"></i> {{lang.details}}</a></li> 
                  </ul>
                </div>
              </div>
            </div>
            <div class="echarts-size">
             
              <app-block-charts [blockControls]="dutiesCountByBlock" [blockInfo]="dutiesCountByBlock" [blockId]="block.id"> </app-block-charts>
            </div>

          
          </div>
        </div>
      </div>

      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="modal-delete">
          <div class="modal-content">
            <div class="modal-header">
              <h6 id="deleteModalLabel">{{ lang.areYouSureYouWanttoDelete }}</h6>
            </div>
            <div class="modal-body">
              <div class="btn-location">
                <button type="button" class="button-4" data-bs-dismiss="modal">
                  {{ lang.cancel }}
                </button>
                <button type="button" class="button-24" (click)="deleteBlock(block.id)">
                  <i class="fa-regular fa-trash-can"></i> {{ lang.delete }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls nextLabel="İleri" previousLabel="Geri" id="pagination" class="pagination"
    (pageChange)="page=$event" id="first"> </pagination-controls>
  </div>
  <div class="row" *ngIf="blocks?.length==0">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">{{lang.noDataFound}}</h6>
        </div>
      </div>
    </div>
  </div>
  <app-block-add (blockEvent)="getAllBlock()" (blockDetailEvent)="getAllWithCounts()"></app-block-add>
  <app-detail-block [blockDetail]="block"></app-detail-block>
</div>