<div class="modal fade" id="hallwayAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6" id="exampleModalLabel"><i class="fa-solid fa-circle-plus"></i> {{lang.addNewHallway}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="ul-modal">
          <form [formGroup]="hallwayAddForm">
            <div class="mb-3">
              <label class="chooseLabel"><i class="fa-solid fa-door-open icon-spacing"></i> {{lang.hallwayName}}</label>
              <input type="text" class="modal-input" class="form-control" formControlName="hallwayName">
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
                <label class="chooseLabel"> <i class="fa-solid fa-code-branch"></i> {{lang.branchName}}</label>
                <select class="form-select chooseSelect" aria-label="Default select example" formControlName="branchId"
                (change)="onBranchChange($event)"style="font: small-caption !important;">
                  <option value="" disabled selected>{{lang.chooseBranch}}</option>
                  <option *ngFor="let branch of branchs" [value]="branch.id"> {{branch.branchName}} </option>
                </select>
              </div>
              <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect" style="padding-right: 0px !important;">
                <label class="chooseLabel"><i class="fa-regular fa-building icon-spacing"></i> {{lang.blockName}}</label>
                <select class="form-select chooseSelect" aria-label="Default select example" formControlName="blockId"
                (change)="onBlockChange($event)"style="font: small-caption !important;">
                  <option value="" disabled selected>{{lang.chooseBlock}}</option>
                  <option *ngFor="let block of blocks" [value]="block.id"> {{block.blockName}} </option>
                </select>
              </div>
              <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
                <label class="chooseLabel"><i class="fa-solid fa-stairs icon-spacing icon-spacing"></i> {{lang.floorName}}</label>
                <select class="form-select chooseSelect" aria-label="Default select example" formControlName="floorId"
                  style="font: small-caption !important;">
                  <option value="" disabled selected>{{lang.chooseFloor}}</option>
                  <option *ngFor="let floor of floors" [value]="floor.id"> {{floor.floorName}} </option>
                </select>
              </div>
              <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect status">
                <div class="">
                  <label class="chooseLabel">{{lang.status}}</label>
                </div> 
                <label class="switch">
                  <input type="checkbox" formControlName="status">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </form>
          <div class="btn-location mt-5">
            <button class="button-37" (click)="addHallway()"><i class="fa-solid fa-circle-plus"></i> {{lang.addNewHallway}}</button>
          </div>

        </ul>
      </div>

    </div>
  </div>
</div>