
<div class="modal fade" id="roomDetailsModal" tabindex="-1" aria-labelledby="roomDetailsModalLabel" aria-hidden="true" >
    <div class="modal-dialog  modal-lg" >
    <div class="modal-content" >
      <div class="modal-header">
        <h1 class="modal-title fs-6" id="roomDetailsModalLabel"><i class="fa-solid fa-circle-info"></i> {{lang.room}} {{lang.details}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body" *ngIf="rooms">
        <ng-container *ngFor="let room of rooms;let i=index">
            <div class="">
                <label class="chooseLabel" style="font-size: 13pt;"> {{i+1}}. {{lang.room}}</label> <hr>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xl-4 custom-select-wrapper modalSelect">
                    <label class="chooseLabel"><i class="fa-solid fa-code-branch"></i> {{lang.branchName}}</label>
                    <input class="form-select chooseSelect detail forms" [value]="getBranchName(room.branchId)" readonly>
                </div>
                <div class="col-lg-4 col-md-4 col-xl-4 custom-select-wrapper modalSelect" >
                    <label class="chooseLabel"><i class="fa-regular fa-building icon-spacing"></i> {{lang.blockName}}</label>
                    <input class="form-select chooseSelect detail forms" [value]="getBlockName(room.blockId)" readonly>
                </div>
                <div class="col-lg-4 col-md-4 col-xl-4 custom-select-wrapper modalSelect">
                    <label class="chooseLabel"><i class="fa-solid fa-stairs icon-spacing icon-spacing"></i> {{lang.floorName}}</label>
                    <input class="form-select chooseSelect detail forms" [value]="getFloorName(room.floorId)" readonly>
                </div>
                <div class="col-lg-4 col-md-4 col-xl-4 custom-select-wrapper modalSelect" >
                    <label class="chooseLabel"><i class="fa-solid fa-door-open icon-spacing"></i> {{lang.hallwayName}}</label>
                    <input class="form-select chooseSelect detail forms" [value]="getHallwayName(room.hallwayId)" readonly>
                </div> <div class="col-lg-4 col-md-4 col-xl-4 custom-select-wrapper modalSelect">
                    <label class="chooseLabel"><i class="fa-solid fa-tag"></i> {{lang.roomName}}</label>
                    <input class="form-select chooseSelect detail forms" [value]="room.roomName" readonly>
                </div>
                <div class="col-lg-4 col-md-4 col-xl-4 custom-select-wrapper modalSelect" >
                    <label class="chooseLabel"><i class="fa-solid fa-arrow-down-1-9"></i> {{lang.roomNumber}}</label>
                    <input class="form-select chooseSelect detail forms" [value]="room.roomNumber" readonly>
                </div>
            </div>
        </ng-container>
          
        </div>
      </div>
    </div>
  </div>
  