<body>
    <div class="container-login d-flex align-items-center justify-content-center vh-100">
      <div class="text-center">
        <div>
        </div>
        <div class="login-title ">
          <img src="/assets/img/logo-White.png" width="250" alt="" srcset="">
          <p style="font-size: large;" id="login-description">{{lang.newGenerationCleaning}}</p>
        </div>
  
        <div class="options-panel">
          <a href="/user-login">{{lang.gobackHome}} <i
              class="fa-solid fa-person-walking-arrow-right"></i></a>
        </div>
        <div class="languages">
          <a (click)="changeLanguage('tr')" class="language">
            <img src="/assets/img/turkey.png" alt="">
          </a>
          <a (click)="changeLanguage('en')" class="language" style="margin-left: 1rem;">
            <img src="/assets/img/united-kingdom.png" alt="">
          </a>
          <a (click)="changeLanguage('de')" class="language" style="margin-left: 1rem;">
            <img src="/assets/img/germany.png" alt="">
          </a>
          <a (click)="changeLanguage('fr')" class="language" style="margin-left: 1rem;">
            <img src="/assets/img/france.png" alt="">
        </a>
        </div>
        <input type="email" id="inputEmail" class="form-control mb-2" placeholder="E-posta" required
                (change)="onChange($event)" autofocus>
        <div class="button-group">
            <button class="button-37" type="submit" (click)="sendEmail()">{{lang.sendVerificationCode}}</button>
  
          </div>
        <p class="mt-5 mb-3 text-muted">&copy; TTD V1.3 </p>
      </div>
    </div>
  </body>