<div class="container-fluid" style="padding-left: 20px;padding-right: 20px;">
    <app-navbar-stock-item></app-navbar-stock-item>
    <ag-grid-angular id="datatable" style="width: 100%" class="ag-theme-alpine" [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef" [rowSelection]="'multiple'" [enableCellTextSelection]="true"
        [cacheBlockSize]="cacheBlockSize" [cacheOverflowSize]="cacheOverflowSize"
        [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
        [infiniteInitialRowCount]="infiniteInitialRowCount" [enableBrowserTooltips]="true"
        [overlayNoRowsTemplate]="noRowsTemplate" [maxBlocksInCache]="maxBlocksInCache" [rowData]="rowData"
        [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
        [suppressScrollOnNewData]="true"></ag-grid-angular>
</div>
<app-add-stock-item (addStockItemEvent)="getAllStockItems()"></app-add-stock-item>
<app-room-stock-item [roomDetail]="stockItem"></app-room-stock-item>
<app-update-stock-item [stockItem]="stockItem" (updateStockItemEvent)="getAllStockItems()"></app-update-stock-item>
<app-report-stock-item ></app-report-stock-item>