<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true" *app="updateBranchItem">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="box-shadow: none !important;">
        <h6 id="updateModalLabel"><i class="fa-regular fa-pen-to-square"></i> {{lang.updateBranch}}</h6>
      </div>
      <div class="modal-body">
        <form [formGroup]="branchUpdateForm" *ngIf="branchUpdateForm">
          <div class="mb-3">
            <label class="chooseLabel"><i class="fa-solid fa-code-branch"></i> {{lang.branchName}}</label>
            <input type="text" class="modal-input" class="form-control" formControlName="branchName"
              style="margin-bottom: 0px !important;">
          </div>
          <div class="mb-3 custom-select-wrapper modalSelect">
            <label class="chooseLabel"><i class="fa-solid fa-building"></i> {{lang.companyName}}</label>
            <select class="form-select chooseSelect" aria-label="Default select example" formControlName="companyId"
           style="font: small-caption !important;">
              <option value="" disabled selected>{{lang.chooseCompany}}</option>
              <option *ngFor="let company of companies" [value]="company.id"> {{company.companyName}} </option>
            </select>
          </div>
        </form>
        <div class="btn-location mt-5">
          <button type="button" class="button-4" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i> {{lang.cancel}}</button>
          <a (click)="updateBranch()" class="button-20" data-bs-dismiss="modal"><i class="fa-regular fa-pen-to-square"></i> {{lang.update}} </a>
        </div>
      </div>
    </div>
  </div>
</div>