<div class="modal fade" id="foodCategoryAddModal" tabindex="-1" aria-labelledby="foodCategoryAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="foodCategoryAddModalLabel"><i class="fa-solid fa-utensils"></i> {{lang.addNewFoodCategory}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="foodCategoryAddForm">    
                    <div class="mb-3">
                        <label class="chooseLabel"><i class="fa-solid fa-utensils"></i> {{lang.categoryName}}</label>
                        <input type="text" class="modal-input" class="form-control" formControlName="categoryName" style="margin-bottom: 0px !important;">
                      </div>              
                </form>
                <div class="btn-location mt-5">
                    <button class="button-37" (click)="addFoodCategory()" data-bs-dismiss="modal"><i class="fa-solid fa-circle-plus"></i> {{lang.addNewFoodCategory}}</button>
                </div>
            </div>
        </div>
    </div>
</div>