<div class="modal fade" id="propertyAddModal" tabindex="-1" aria-labelledby="propertyAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="propertyAddModalLabel"><i class="fa-solid fa-circle-plus"></i>
                    {{lang.addNewLostProperty}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="propertyAddForm">
                    <div class="mb-3">
                        <label class="chooseLabel"><i class="fa-solid fa-tags"></i> {{lang.propertyName}}</label>
                        <input type="text" class="modal-input" class="form-control" formControlName="propertyName">
                    </div>
                    <div class="mb-3">
                        <label class="chooseLabel"><i class="fa-solid fa-comment"></i> {{lang.description}}</label>
                        <input type="text" class="modal-input" class="form-control" formControlName="description">
                    </div>
                    <div class="col-lg-12 col-md-12 col-xl-12 custom-select-wrapper modalSelect">
                        <label class="chooseLabel"><i class="fa-solid fa-user"></i> {{lang.chooseEmployee}}</label>
                        <select class="form-select chooseSelect" aria-label="Default select example"
                            formControlName="employeeId" style="font: small-caption !important;">
                            <option value="" disabled selected>{{lang.employeeName}}</option>
                            <option *ngFor="let employee of employees" [value]="employee.id"> {{employee.name}}
                                {{employee.surname}} </option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xl-12 custom-select-wrapper modalSelect">
                        <label class="chooseLabel"><i class="fa-solid fa-house"></i> {{lang.chooseRoom}}</label>
                        <select class="form-select chooseSelect" aria-label="Default select example"
                            formControlName="roomId" style="font: small-caption !important;">
                            <option value="" disabled selected>{{lang.roomName}}</option>
                            <option *ngFor="let room of rooms" [value]="room.id"> {{room.roomName}}</option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xl-12">
                        <label class="chooseLabel mb-3">{{lang.itemValuable}}</label><br>
                        <label class="switch">
                          <input type="checkbox" formControlName="itemValuable">
                          <span class="slider round"></span>
                        </label>
                      </div>
                </form>
                <div class="btn-location mt-5">
                    <button class="button-37" (click)="addLostProperty()" data-bs-dismiss="modal"><i
                            class="fa-solid fa-circle-plus"></i> {{lang.addNewLostProperty}}</button>
                </div>
            </div>
        </div>
    </div>
</div>