<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="detailModalLabel"><i class="fa-solid fa-circle-info"></i> {{lang.block}} {{lang.details}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="block">
                <div class="row">
                    <div class="mb-3 col-lg-6">
                        <label class="chooseLabel"><i class="fa-regular fa-building icon-spacing"></i>  {{lang.blockName}}</label>
                        <input class="modal-input detail" placeholder="{{lang.branchName}}" [value]="block.blockName"readonly>
                    </div>
                    <div class="mb-3 col-lg-6">
                        <label class="chooseLabel"><i class="fa-solid fa-code-branch"></i>  {{lang.branchName}}</label>
                        <input class="modal-input detail" placeholder="{{lang.branchName}}" [value]="block.branchId"readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>